<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body style="padding-bottom:120px">
	
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
<div  style="width:60%;height:40px;float:left;box-sizing:border-box;">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
</div>
<div align="right" style="width:40%;height:40px;float:left;box-sizing:border-box;"><img src="{{site.baseurl}}/public/logo.png" height="40" width="168"></div>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
	
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
